@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: white;
    --primary-color: black;
    --filter-color: invert(0);
}

.dark-theme {
    --background-color: black;
    --primary-color: white;
    --filter-color: invert(1);
}

body {
    margin: 0;
    font-family: 'Work Sans';
    background-color: var(--background-color);
}

.text {
    color: var(--primary-color)
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-bottom: 1px solid var(--primary-color);
}

.sub-container {
    border-bottom: 1px solid var(--primary-color);
    padding: 10px;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    border: 1px solid var(--primary-color);
}

#logo-container {
    border-right: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    letter-spacing: 10px;
    font-size: 2em;
    padding: 20px;
}

li > a {
    text-decoration: none;
    color: #989898;
    transition: color 1s;
}

li > a:hover {
    color: var(--primary-color);
}

#spotify {
    display: none;
}

#spotify:target {
    display: block;
}

#contacto {
    display: none;
}

#contacto:target {
    display: block;
}

#nosotros {
    display: none;
}

#nosotros:target {
    display: block;
}

#youtube {
    display: none;
}

#youtube:target {
    display: block;
}

img {
    max-width: 100%;
}

#toggle-link:hover {
    cursor: pointer;
    color: var(--primary-color)
}

@keyframes sclogo_fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #sancoyote-logo {
    animation-name: sclogo_fade_in;
    animation-duration: 6s;
    filter: var(--filter-color)
  }

  @media only screen and (max-width: 1366px)  {

    #logo-container {
        max-width: 350px;
    }
    
  }